.vs/
.vs/Kong_Engine/DesignTimeBuild/.dtbcache.v2
.vs/Kong_Engine/DesignTimeBuild/.dtbcache.v2
.vs/Kong_Engine/v17/.suo
.vs/Kong_Engine/v17/.suo
.vs/Kong_Engine/v17/DocumentLayout.json
Kong_Engine/obj/Debug/net6.0-windows/Kong_Engine.AssemblyInfo.cs
Kong_Engine/obj/Debug/net6.0-windows/Kong_Engine.AssemblyInfoInputs.cache
Kong_Engine/obj/Debug/net6.0-windows/Kong_Engine.assets.cache
Kong_Engine/obj/Debug/net6.0-windows/Kong_Engine.GeneratedMSBuildEditorConfig.editorconfig
Kong_Engine/obj/Kong_Engine.csproj.nuget.dgspec.json
Kong_Engine/obj/Kong_Engine.csproj.nuget.g.props
Kong_Engine/obj/project.assets.json
Kong_Engine/obj/project.nuget.cache
